@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
}
header{
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: .5s;
}

header a{
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}
header h1{
    margin: 10px 50px;
    font-size: 20px;
    cursor: pointer;
}

.redes{
    font-size: 20px;
    margin: 0 15px;
}
.redes a{
    color: #fff;
}
/* .redes i{
    margin-right: 10px;
} */

.redes i:hover{
    color: rgba(255, 255, 255, 0.726);
}

.inicio{
    background:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(hero.svg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.inicio p{
    margin-top: 20px;
    width: 800px;
    letter-spacing: 1.5px;
    line-height: 1.3rem;
    transition: .5s;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.descripcion h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.descripcion h2 span{
    color: rgba(255, 0, 0, 0.54);
}

.subtitulo{
    font-size: .7rem;
    color: #fff;
    border-bottom: 1px solid white;
    border-top: 1px solid #fff;
    padding: 20px;
    text-align: center;
    transition: .5s;
}

.tecnologias{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.tecnologias .card img{
    width: 220px;
    height: 200px;
    margin-right: 20px;
    border: 0.5px solid #fff;
    cursor: pointer;
    transition: .5s;
}
.tecnologias .card img:hover{
    transform: scale(1.1);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    text-align: center;
    padding: 20px;
}

footer a{
    text-decoration: none;
}

footer a h2{
    border-radius: 2px;
    height: 16px;
    width: 150px;
    color: #fff;
    font-style: oblique;
}

footer a h2:hover{
    background-color: white;
    color: black;
    transition: .3s;
}

@media (max-width:860px){

    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .inicio p{
        width: 450px;
        padding: 20px;
    }
    .tecnologias{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tecnologias .card img{
        width: 110px;
    }
}
